name: Learning GitHub Script
on:
  issues:
    types: [opened]

jobs:
  comment:
    runs-on: ubuntu-latest
    permissions:
      issues: write  # 這行很重要，給予 Actions 留言的權限
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Comment on new issue
        uses: actions/github-script@v7
        with:
          script: |
             const fs = require('fs')
             // 讀取你剛剛建立的 md 檔案
             const issueBody = fs.readFileSync(".github/ISSUE_RESPONSES/comment.md", "utf8")
             
             github.rest.issues.createComment({
               issue_number: context.issue.number,
               owner: context.repo.owner,
               repo: context.repo.repo,
               body: issueBody
             })
